@import url('https://fonts.googleapis.com/css2?family=Explora&family=Gowun+Batang&family=Hahmlet&family=Noto+Sans+KR:wght@400;900&display=swap');

.CEO_Message{
    position:relative;
    font-size: 8rem;
    top:2%;
}

.KST_back{
    position: absolute;
    font-size: 25rem;
    left:70%;
    font-family: 'Explora', cursive;
    font-weight:100;
}

.CEO_Message_sub{
    position:absolute;
    font-family: 'Gowun Batang', serif;
    font-size: 3rem;    
    color:#6f917b;
    top:45%;
}

.company_building{
    position: relative;
    height:75rem;
    object-fit: cover;
    background-color: #fffff4;
    margin:30rem 5rem 0rem 10rem;
}

.CEO_talk{
    position:absolute;
    top:4%;
    font-size: 2rem;
    line-height: 2;
    font-family: 'Gowun Batang', serif;
    margin-right: 20rem;
    width:80%;
}

@media screen and (max-width:1200px){
    .CEO_All{
        height:200rem;
        
    }
    .KST_back{
        left:60%;
    }
    
    .CEO_Message_sub{
        font-size: 2.7rem;
    }
    
    .CEO_talk{
        font-size: 2rem;
        width:100%;
    }
}

@media screen and (max-width:767px){
    .CEO_All{
        height:180rem;
    }
    .CEO_Message{
        font-size: 6rem;
    }
    
    .KST_back{
        font-size: 20rem;
        left:60%;
    }
    
    .CEO_Message_sub{
        font-size: 2.7rem;
    }
    
    .CEO_talk{
        font-size: 1.4rem;
        width:100%;
    }
}

@media screen and (max-width:576px){
    .CEO_All{
        height:180rem;
    }
    .KST_back{
        font-size: 20rem;
        left:50%;
    }
    .CEO_talk{
        font-size: 1.2rem;
        width:100%;
    }
}