@import url('https://fonts.googleapis.com/css2?family=Explora&family=Gowun+Batang&family=Hahmlet&family=Noto+Sans+KR:wght@400;900&display=swap');

.History_all{
    height:720vh;
    background-color: #fffff4;
}

.History_sub1{
    font-size: 8rem;
    padding-left:49rem;
    opacity: 0.1;
}



.History_all img{
    margin:15rem 10rem;
    height:40rem;
    width: 40rem;
}

.KST_building h1{
    margin-top: -12rem;
    left:10rem;
    width:29rem;
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.6rem;
}

.History_material{
    color:black;
    margin:3rem 72rem;
    position: relative;
}
.History_all li{
    list-style-type: circle;
    line-height: 2;
    letter-spacing: -0.55px;
    margin:2rem 0rem;
}

.History_2023{
    font-size: 5rem;
    padding-left:60rem;
    margin-top: -6rem;
    color: black;
}


.History_2023_content{
    left:73.2rem;
    top:-60rem;
    position: relative;
    border-left: 3px solid black;
    padding:5rem 0rem 3rem 7rem;
    width:48rem;
    font-family: 'Gowun Batang', serif;
    font-size: 1.6rem;
}

.History_2021{
    font-size: 5rem;
    padding-left:60rem;
    margin-top: -54rem;
    color: black;
}
.History_2021_content{
    left:73.2rem;
    position: relative;
    top:2rem;
    border-left: 3px solid black;
    padding:5rem 0rem 3rem 7rem;
    width:48rem;
    font-family: 'Gowun Batang', serif;   
    font-size: 1.6rem;
}

.History_2017{
    font-size: 5rem;
    padding-left:60rem;
    margin-top: 10rem;
    color: black;
}
.History_2017_content{
    left:73.2rem;
    position: relative;
    top:2rem;
    border-left: 3px solid black;
    padding:5rem 0rem 3rem 7rem;
    width:48rem;
    font-family: 'Gowun Batang', serif;   
    font-size: 1.6rem;
}

.History_2015{
    font-size: 5rem;
    padding-left:60rem;
    margin-top: 10rem;
    color: black;
}
.History_2015_content{
    left:73.2rem;
    position: relative;
    top:2rem;
    border-left: 3px solid black;
    padding:5rem 0rem 3rem 7rem;
    width:48rem;
    font-family: 'Gowun Batang', serif;   
    font-size: 1.6rem;
}

.History_2014{
    font-size: 5rem;
    padding-left:67rem;
    margin-top: 10rem;
    color: black;
}
.History_2014_content{
    left:73.2rem;
    position: relative;
    top:2rem;
    border-left: 3px solid black;
    padding:5rem 0rem 3rem 7rem;
    width:48rem;
    font-family: 'Gowun Batang', serif;   
    font-size: 1.6rem;
}


.History_2013{
    font-size: 5rem;
    padding-left:67rem;
    margin-top: 10rem;
    color: black;
}
.History_2013_content{
    left:73.2rem;
    position: relative;
    top:2rem;
    border-left: 3px solid black;
    padding:5rem 0rem 3rem 7rem;
    width:48rem;
    font-family: 'Gowun Batang', serif;   
    font-size: 1.6rem;
}

.History_2011{
    font-size: 5rem;
    padding-left:67rem;
    margin-top: 10rem;
    color: black;
}
.History_2011_content{
    left:73.2rem;
    position: relative;
    top:2rem;
    border-left: 3px solid black;
    padding:5rem 0rem 3rem 7rem;
    width:48rem;
    font-family: 'Gowun Batang', serif;   
    font-size: 1.6rem;
}

.History_2010{
    font-size: 5rem;
    padding-left:67rem;
    margin-top: 10rem;
    color: black;
}
.History_2010_content{
    left:73.2rem;
    position: relative;
    top:2rem;
    border-left: 3px solid black;
    padding:5rem 0rem 3rem 7rem;
    width:48rem;
    font-family: 'Gowun Batang', serif;   
    font-size: 1.6rem;
}

.History_2005{
    font-size: 5rem;
    padding-left:67rem;
    margin-top: 10rem;
    color: black;
}
.History_2005_content{
    left:73.2rem;
    position: relative;
    top:2rem;
    border-left: 3px solid black;
    padding:5rem 0rem 3rem 7rem;
    width:48rem;
    font-family: 'Gowun Batang', serif;   
    font-size: 1.6rem;
}

.History_2001{
    font-size: 5rem;
    padding-left:67rem;
    margin-top: 10rem;
    color: black;
}
.History_2001_content{
    left:73.2rem;
    position: relative;
    top:2rem;
    border-left: 3px solid black;
    padding:5rem 0rem 3rem 7rem;
    width:48rem;
    font-family: 'Gowun Batang', serif;   
    font-size: 1.6rem;
}

@media screen and (max-width:1200px){
    .History_all{
        height:460vh;
    }
    
    .History_sub1{
        font-size: 8rem;
        padding-left:3rem;
        opacity: 0.1;
        text-align: center;
    }

    .History_all img{
        display: none;   
    }

    .KST_building h1{
        display: none;
    }

    .History_material{
        display: none;
    }
    .History_all li{
        list-style-type: none;
    }

    .History_2023{
        padding-left:3rem;
        margin-top: 0px;
        font-size: 3rem;
    }

    .History_2023_content{
        left:0px;
        border-bottom: 1px solid black;
        width:100%;
        list-style-type:none;
        top:-3rem;
        border-left:0px;
        padding-left:0px;
        
    }

    .History_2021{
        padding-left:3rem;
        margin-top: 0px;
        font-size: 3rem;
    }
    .History_2021_content{
        left:0px;
        border-bottom: 1px solid black;
        width:100%;
        list-style-type:none;
        top:-3rem;
        border-left:0px;
        padding-left:0px;
    }

    .History_2017{
        padding-left:3rem;
        margin-top: 0px;
        font-size: 30px;
    }
    .History_2017_content{
        left:0px;
        border-bottom: 1px solid black;
        width:100%;
        list-style-type:none;
        top:-3rem; 
        border-left:0px;
        padding-left:0px;
    }

    .History_2015{
        padding-left:3rem;
        margin-top: 0px;
        font-size: 3rem;
    }
    .History_2015_content{
        left:0px;
        border-bottom: 1px solid black;
        width:100%;
        list-style-type:none;
        top:-3rem;
        border-left:0px;
        padding-left:0px;
    }

    .History_2014{
        padding-left:3rem;
        margin-top: 0px;
        font-size: 3rem;
    }
    .History_2014_content{
        left:0px;
        border-bottom: 1px solid black;
        width:100%;
        list-style-type:none;
        top:-3rem;
        border-left:0px;
        padding-left:0px;
    }


    .History_2013{
        padding-left:3rem;
        margin-top: 0px;
        font-size: 3rem;
    }
    .History_2013_content{
        left:0px;
        border-bottom: 1px solid black;
        width:100%;
        list-style-type:none;
        top:-3rem;
        border-left:0px;
        padding-left:0px;
    }

    .History_2011{
        padding-left:3rem;
        margin-top: 0px;
        font-size: 3rem;
    }
    .History_2011_content{
        left:0px;
        border-bottom: 1px solid black;
        width:100%;
        list-style-type:none;
        top:-3rem;
        border-left:0px;
        padding-left:0px;
    }

    .History_2010{
        padding-left:3rem;
        margin-top: 0px;
        font-size: 3rem;
    }
    .History_2010_content{
        left:0px;
        border-bottom: 1px solid black;
        width:100%;
        list-style-type:none;
        top:-3rem;
        border-left:0px;
        padding-left:0px;
    }

    .History_2005{
        padding-left:3rem;
        margin-top: 0px;
        font-size: 3rem;
    }
    .History_2005_content{
        left:0px;
        border-bottom: 1px solid black;
        width:100%;
        list-style-type:none;
        top:-3rem;
        border-left:0px;
        padding-left:0px;
    }

    .History_2001{
        padding-left:3rem;
        margin-top: 0px;
        font-size: 3rem;
    }
    .History_2001_content{
        left:0px;
        border-bottom: 1px solid black;
        width:100%;
        list-style-type:none;
        top:-3rem;
        border-left:0px;
        padding-left:0px;
    }
}

