@import url('https://fonts.googleapis.com/css2?family=Explora&family=Gowun+Batang&family=Hahmlet&family=Noto+Sans+KR:wght@400;900&display=swap');

.Customer_All{
    height: 240rem;
}

.Customer_sub1{
    position:relative;
    font-size: 15rem;
    padding-left:4rem;
    font-family: 'Explora', cursive;
}

.Customer_sub2{
    position:absolute;
    font-family: 'Gowun Batang', serif;
    font-size: 3rem;    
    color:#6f917b;
    top:90rem;
    left:9rem;
}

.Customer_sub3{
    position: relative;
    margin-top:20rem;
    height:100rem;
    border: 4px solid #ddd;
    margin-left: 10rem;
    width:100rem;
    padding-left: 5rem;
    border-collapse: collapse;

}
.Customer_sub3 li{
    list-style-type: none;
    
}

.Customer_sub3 img{
    width:90%;
    height:30%;
    padding-top: 5rem;
    padding-left: 7%;
    object-fit:contain; 
}

.customerContainer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item{
    border: 1px solid black;
    border-radius: 10%;
    height: 40%;
    margin: 10% 0% 10%;
    width:25rem;
}

.itemSub{
    position: relative;
    top:22%;
    font-size: 2.4rem;
    border-top: 1px solid black;
    height: 1rem;
    padding-top: 4%;
    text-align: center;
}

@media screen and (max-width:1023px){
    .Customer_All{
        height: 260rem;
    }

    .customerContainer{
        grid-template-columns: 1fr 1fr;
    }

    .Customer_sub3{
        height:130rem;
        width:80rem;
    }
}

@media screen and (max-width:767px){
        
    
    .Customer_sub3{
        height:120rem;
        margin-left: 5rem;
        width:60rem;
    }
    
    .customerContainer{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .item{
        height:22rem;
        width:25rem;
    }
    
    .itemSub{
        position: relative;
        top:22%;
        font-size: 2.4rem;
        border-top: 1px solid black;
        height: 1rem;
        padding-top: 4%;
        text-align: center;
    }
}

@media screen and (max-width:576px){
    .Customer_All{
        height:350rem;
    }
    .Customer_sub1{
        font-size: 10.7rem;
    }

    .Customer_sub2{
        top:85rem;
        left:5rem;
    }

    .Customer_sub3{
        height:240rem;
        margin-left: 5rem;
        width:40rem;
        border:0px;
    }

    .customerContainer{
        display:grid;
        grid-template-columns: 1fr;
    }
}