@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Noto+Sans+KR:wght@400;900&display=swap');
.AboutUs_All{
    background-color: #fffff4;
}

.AboutUs img{
    height:67rem;
    width:100%;
    object-fit: cover;
    padding-top: 0.9rem;
    margin-bottom: 1rem;
}

.AboutUs_text1{
    position: absolute;
    font-family:'Noto Sans KR', sans-serif;
    font-size: 6rem;
    top: 37%;
    text-align: center;
    color:white;
    width:100%;
}

.AboutUs_text2{
    position: absolute;
    font-family:'Noto Sans KR', sans-serif;
    font-size:3rem;
    top: 54%;
    color:white;
    text-align: center;
    width:100%;
}

@media screen and (max-width:767px){

    .AboutUs_text1{
        font-size: 5rem;
        
        top:37%;
        
    }

    .AboutUs_text2{
        font-size:1.8rem;
        top: 50%;
        left: 0%;
        width: 100%;
        }
}