@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Noto+Sans+KR:wght@400;900&display=swap');

.Product{
    position: relative;
    background:#fffff4;
    height:310rem;
}

.Product img{
    height:72rem;
    width:100%;
    object-fit: fill;
    padding-top: 0.9rem;
    margin-bottom: 1rem;
}

.Product_Sub1{
    position: relative;
    font-size: 5.5rem;
    font-family:'Noto Sans KR', sans-serif;
    margin-bottom: 1rem;
}

.introduce{
    position: relative;
    font-family:'Noto Sans KR', sans-serif;
    font-size: 3rem;
    color:#6f917b;
    margin-left: 2rem;
}


.Product1 img{
    object-fit: cover;
    width:30.3112rem;
    height: 21.7212rem;
    display:flex;
    margin-right: 8.7rem;
}

.Product1 ul{
    display: flex;
    margin-bottom: 10rem;
}

.Product1 li{
    margin:11rem 8rem 0rem 8rem;
    list-style-type: none;
    font-style: italic;
    font-size: 2rem;
    width:50%;
}

@media screen and (max-width:767px){
   
    .Product{
        height:290rem;
    }
    
    .Product1 img{
        object-fit: cover;
        width:25.3112rem;
        height: 16.7212rem;
    }
    
    .Product1 li{
        margin:8rem 0rem 0rem -2rem;
        font-size:1.6rem;
    }
}

@media screen and (max-width:625px){
    .Product{
        height:270rem;
    }
    .Product1 img{
        object-fit: cover;
        width:22.3112rem;
        height: 13.7212rem;
    }
    
    .Product1 li{
        margin:6rem 0rem 0rem -2rem;
        font-size:1.4rem;
    }
}