@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&family=Noto+Sans+KR:wght@400;900&display=swap');

.Technology img{
    height:720px;
    width:100%;
    object-fit: fill;
    padding-top: 9px;
    margin-bottom: 10px;
}

.Technology_Sub1{
    position: relative;
    font-size: 55px;
    font-family:'Noto Sans KR', sans-serif;
    margin-bottom: 10px;
}

.introduce{
    position: relative;
    font-family:'Noto Sans KR', sans-serif;
    font-size: 30px;
    color:#6f917b;
    margin-left: 20px;
}

.Technology img{
    object-fit: cover;
    width:25%;
    height:25%;
    color:#fffff4;
}